.imgUpload {
    display: flex;
    gap: 15px;

    #imgInput {
        height: auto;
    }

    .imgPreview {
        border-radius: 10px;
        border: 1px solid #ebebeb;
        width: 100px;
        height: 100px;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        cursor: pointer;
    }
}

.fa-user-plus {
    font-size: 30px;
    color: #17a2b8;
    cursor: pointer;
    margin: 0px 0px 10px;
}

.fa-user-edit {
    font-size: 20px;
    color: #ffc107;
    margin: 0px 15px;
    cursor: pointer;
}

.fa-trash-alt {
    font-size: 20px;
    color: #b21f2d;
    cursor: pointer;
}


.modalReact {
    input {
        border-radius: 0px;
        margin-bottom: 10px;
    }

    label {
        margin: 5px 0px 5px;
    }

    .btn {
        padding: 5px 10px;
        height: unset;
    }
}